* {
	margin: 10;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -92px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
	height: 92px; /* .push must be the same height as .footer */
}
        
h1 { color:#5E5E5E;
  font-family: Trebuchet MS;
  font-size: 42px;
  font-weight: 900;
}

.songArtist {
  color:#5E5E5E;
  font-family: Trebuchet MS;
  font-size: 15px;
}

.songTitle {
  color:#5E5E5E;
  font-family: Trebuchet MS;
  font-size: 20px;
}

.listText {
  color:#5E5E5E;
  font-family: Trebuchet MS;
  font-size: 12px;  
}

.songBody {
    font-family: Courier;
    font-size: 11px;
}

.footer {
    position: relative;
    margin-top: -80px; /* negative value of footer height */
    height: 80px;
    text-align: center;
}

.search_results_table {
	padding:100;
	width:100%;
}