<div id="menu">
        <ul class="menu">
            <li><a href="#"><span>Songs & Artists</span></a>
                <div><ul>
                    <li><a href="/tabcollection/"><span>Search</span></a></li>
                    <li><a href="#" class="parent"><span>Add new</span></a>
                        <div><ul>
                        <li><a href="/tabcollection/new-song-form"><span>Song</span></a></li>
                        <li><a href="/tabcollection/new-artist-form"><span>Artist</span></a></li>
                        </ul></div>
                    </li>
                </ul></div>
            </li>
            <li><a href="#"><span>Help</span></a>
                <div><ul>
                    <li><a href="#"><span>Songs Collection Help</span></a></li>
                    <li><a href="#"><span>About</span></a></li>
                </ul></div>
            </li>
        </ul>
    </div>